:root {
  font-size: 16px;
  font-family: 'serif';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
}

.navbar{
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item{
  width: 100%;
  cursor: pointer;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  
}
.nav-link svg{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text{
  display: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  width: 100%;
}
.logo svg{
  transform: rotate(0deg);
  transition: var(--transition-speed);
}
.logo-text{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.deleteBtn{
  background-color: white;
  padding: 10px;
  border: none;
  padding-left: 5px;
}
.deleteBtn:hover{
  background-color:#bbb7b7;

}
.errorBox{
  text-align: center;
  padding: 1rem
}
.errorMsg {
  padding: 1rem;
  line-height: 15px;
  text-align: center;
  font-size:1rem;
  font-weight: bold;
  color:red;
}

.formLabel{
  display: block;
  font-size: large;
}
.FormPanel{
  
  display: block;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  text-align:left;
  width: 50%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgb(201, 201, 201);
}

.exerciseForm{
  display: block;
}
.inputField{
  min-width: 0px;
  display: block;
  font-size: medium;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  border-style: solid;
}
.inProgress{
  margin: 1rem;
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: orange;
}
.completed{
  color: white;
  border-radius: 0.5rem;
  background-color: green;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem;
}
.addExerciseButton2{
  border-radius: 10px;
  color:white;
  background-color: var(--bg-primary);
  height: 100%;
  width: 100%;
  font-size: medium;
  border: none;
}
.workoutDiv{
  display: block;
  margin: auto;
  width: 70%;
}
.addExerciseButton2:hover{
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.addExerciseButton{
  min-width: 200px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color:var(--bg-primary);
  padding: 10px;
  font-size: medium;
  border-radius: 10px;
  border: none;
  color:white;
  margin-bottom: 10px;
  text-decoration-line: none;
}
.addExerciseButton:hover{
  background-color: var(--bg-secondary);
  cursor: pointer;
}
#btn{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color:var(--bg-primary);
  padding: 10px;
  width: 100%;
  font-size: medium;
  border-radius: 10px;
  border: none;
  color:white;
  text-decoration-line: none;
}
#btn:hover{
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.buttonStyle{
  background-color: greenyellow;
  padding: 10px;
  margin: 10px;
}
.buttonStyle:hover{
  background-color: rgb(142, 218, 30);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.footer{
  margin-top: 100px;
}
.add_btn{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
  display: block;
  padding: 5px;
  border-radius: 10px;
}
.add_btn1{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
}
.add_btn:hover{
  background-color: #11e08a;
  cursor: pointer;
}
.add_btn1:hover{
  background-color: #11e08a;
  cursor: pointer;
}
.CardTitle{
  font-size: 2rem;
  padding-bottom: 1rem;
}
.Statistics{
  font-size: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  padding: 0.5rem;
}
.ProfileCard{
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px rgb(201 201 201);
}
.CardContent{
  display: block;
}
.Card{
  display: block;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgb(201 201 201);
  border-radius: 10px;
  width: 70%;
  padding-bottom: 20px;
}
.images{
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.footerImage:first-child {
  animation: App-logo-spin infinite 20s linear;
}
.exerciseFormLabels {
  width: 200px;
  text-align: left;

}
.exerciseFormLabels:last-child {
  width: 50px;
  text-align: left;
  
}
.exerciseFormWrap {
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  justify-content:center;
  gap:10px;
}
.footerImage{
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.Exercise {
  display: flex;
  color: var(--text-secondary);
  background-color: var(--bg-primary);
  flex-direction: row;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}
.exerciseTable{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 5px;
}
.Header{
  display: flex;
  align-items: center;
  margin: auto;
  background-color: var(--bg-primary);
  width: 100%;
  font-size: 2rem;
  color: var(--text-secondary);
  height: 5rem;
  justify-content: center;
}
.exerciseTable th {
  width: 33%;
  padding: 0.5rem;
  background-color:var(--bg-primary);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.exerciseTable tr:nth-child(even){
  background-color: #e0dcdc;
}
.errorMsg1{
  font-size: 1rem;
  color: red;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.Exercise1 {
  margin: auto;
  margin-bottom: 15px;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  box-shadow: 3px 3px 3px 3px gray;
 
}
.text{
  font-size: 1rem;
}
.ExerciseContent{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Exercise1:hover {
  background-color: rgb(212, 207, 207);
  cursor: pointer;
}
.Description {
  padding: 5px;
}
.Exercise:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.CenteredText{
  font-size: 1rem;
  text-align: center;
}
.WorkoutTitle{
  font-size: 1.5rem;
  text-align: center;
}
.Weight{
  font-size: 18px;
  padding: 5px;
}
.MaxWeight{
  font-size: 18px;
  padding: 5px;
}

.alert-container{
  margin: 15px;
  display: flex;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .Card{
    padding: 0.1rem;
    box-sizing: border-box;
    width: 90%;
  }
  .FormPanel{
    width: 70%;
  }
  .exerciseFormWrap{
    box-sizing: border-box;
    width: 95%;
    display: block;
    align-items: center;
  }
  .exerciseFormLabels {
    box-sizing: border-box;
    align-items: center;
    padding: 0.5rem;
    margin: auto;
    width: 90%;
    text-align: center;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .addExerciseButton2{
    display: block;
    width: 3rem;
    height: 2rem;
  }

  main {
    margin: 0;
    margin-bottom: 5rem;
  }
}
/*Big screens*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  
  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 12rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
