.wrapper {
    position: fixed;
    top: 50%;
    left: 50%; 
    color: white;
    transform: translate(-50%, -50%);
    background-color: crimson;
    border-radius:0.5rem;
    padding:0.7rem;
    z-index: 1000;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item:first-child{
    height: 2rem;
    padding-right: 1rem;
}
.flex-item:nth-child(2){
    font-weight: bold;
    padding-right: 1rem;
}
.flex-item:last-child{
    background-color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    color: crimson;
    border-radius: 0.2rem;
    margin-left: 1rem;
}
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 80%;
    }
}